#container {
    width: 940px;
    height: 900px;
    background-image:radial-gradient(circle, rgb(112, 96, 102), rgb(27, 10, 14));
   padding: 20px;
}
#header {
    width: 980px;
    height: 70px;
    background: #F8F8F8;
    line-height: 20px;
}
h1 {
    display: inline-block;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    display: inline-block;
    padding-left: 450px;
    font-family: Arial, Helvetica, sans-serif;    
}
/* =============  T O P ================================== */
#top {
    width: 970px;
    height: 280px;
    /* background-color: green; */
}
#faceimage {
    vertical-align: top;
    width: 420px;
    height: 250px;
    display: inline-block;
    border: gray 5px solid;
}
#about {
    width: 470px;
    height: 255px;
    display: inline-block;
    /* border: gray 5px solid; */
    background: #E9E0E8;
    margin-left: 25px;
}
.firstp {
    padding: 10px;
}
p {
    margin: 0px; 
}
.title {
    background: linear-gradient(rgb(148, 148, 165), rgb(124, 123, 134), rgb(148, 148, 165));
    height: 30px;
    padding: 5px;
    margin-top: 0px;
    margin-left: 0px; 
    margin-right: 0px;
    padding-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: floralwhite;
    line-height: 30px;
    font-size: 20px;
}

/* ======================= M I D D L E ============================= */
#middle {
    width: 970px;
    margin-top: 20px;
    height: 420px;
    /* background-color: rgb(243, 243, 187); */
}
.box {
    width: 280px;
    height: 420px;
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
    background: #E4D9E3;
    
}
img {
    width: 280px;
}
#middle .box .innerp{
    margin: 10px;
    text-align: justify;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

/* ====== B O T T O M ======= T E C H N O L O G I E S ============ */

.bottom {
    width: 970px;
    margin-top: 0px;
    height: 220px;
}
.boxbottom {
    width: 280px;
    height: 190px;
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
    background: #E4D9E3;
}
.smalltech {
    width: 37px;
    margin: 6px

}
.links {
    width: 20px;
} 
button {
    border: black solid 1px;
    border-radius: 10px;
    background: rgb(38, 77, 38);
    color: white; 
    padding: 5px 8px;
    box-shadow: 5px 5px 20px black;
    display: block;
    margin: 0px auto;
}

/* ========= F O O T E R ====================== */
.footer {
    width: 960px;
    margin-top: 0px;
    height: 50px;
    background: #F8F8F8;
    padding: 10px;
    text-align: center;
}
.email {
    font-family: Arial, Helvetica, sans-serif;
}
.links {
    width: 20px;
    padding-top: 5px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    
} 
